.main-header {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  color: #909090;
  height: 5rem;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    .logo {
      margin-right: 1.5rem;
      margin-left: 24px;
      display: inline-block;
      height: 28px;
      width: auto;
      .logo-img {
        display: block;
        width: 136.28px;
        height: 28px;
      }
    }
    .main-nav{
      height: 100%;
      flex: 1;
      .nav-list {
        display: flex;
      }
    }
  }
}